
.taxonomy_vtn_vocabularies td, .taxonomy_vtn_terms td, .taxonomy_vtn_nodes td {
  background: white;
  width: 50%;
  vertical-align: top;
}

.taxonomy_vtn_vocabularies td h3, .taxonomy_vtn_terms td h3, .taxonomy_vtn_nodes td h3 {
  background: #fcfcfc;
  padding: 2px;
  margin: 0.5em 0pt 0.5em;
  border-bottom: 1px solid gray;
}

.taxonomy_vtn_vocabularies td div, .taxonomy_vtn_terms td div, .taxonomy_vtn_nodes td div {
  /*margin: 0px 0px 30px;*/
  margin: 0px;
  padding: 0px;  
}

.taxonomy_vtn_vocabularies td div ul, .taxonomy_vtn_terms td div ul, .taxonomy_vtn_nodes td div ul {
/*  padding: 0px;*/
  padding: 0px 0px 30px;
}

.taxonomy_vtn_vocabularies td div ul.simple-list, .taxonomy_vtn_terms td div ul.simple-list, .taxonomy_vtn_nodes td div ul.simple-list  {
  padding: 0px;
}
